# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
.nvmrc

/cypress/videos/
/cypress/screenshots/

# Additional data and script
/data

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# backend-flask
app/
venv/
log/
__pycache__/
python_script/Data/.RData
python_script/Data/.Rhistory

# R
*.RData
*.Rhistory

# now include data
# python_script/Data
